<h3 class="text-center">Vlastní auto</h3>
<table>
  <tbody>
    <tr><th>Spotřeba:</th><td>{{results.km}}</td></tr>
    <tr><th>Ztráta ceny za km:</th><td>{{results.depreciationKm}}</td></tr>
    <tr><th>Ztráta ceny za rok:</th><td>{{results.depreciationYear}}</td></tr>
    <tr><th>Servis:</th><td>{{results.service}}</td></tr>
    <tr><th>Dálniční známka:</th><td>{{results.toll}}</td></tr>
  </tbody>
  <tfoot>
    <tr><th>Celkem:</th><td>{{results.total}}</td></tr>
  </tfoot>
</table>

<!--

        <div class="form-group">
          <label>Rok výroby auta</label>
          <input type="number" [max]="currentYear" class="form-control" [(ngModel)]="data.car.year">
        </div>
        <div class="form-group">
          <label>Původní ceníková cena auta</label>
          <input type="number" class="form-control" [(ngModel)]="data.car.price">
        </div>
        <div class="form-group">
          <label>Kolik má vaše auto najeto?</label>
          <div class="input-group mb-3">
            <input type="number" class="form-control" [(ngModel)]="data.car.km">
            <div class="input-group-append">
              <span class="input-group-text">km</span>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label>Spotřeba</label>
          <div class="input-group mb-3">
            <input type="number" class="form-control" [(ngModel)]="data.car.consumption">
            <div class="input-group-append">
              <span class="input-group-text">l/100km</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Cena paliva</label>
          <div class="input-group mb-3">
            <input type="number" class="form-control" [(ngModel)]="data.gasPrice">
            <div class="input-group-append">
              <span class="input-group-text">Kč</span>
            </div>
          </div>
        </div>
-->